<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>price</th>
        <th>stock</th>
    </tr>
</table>
<list-item *ngFor = "let product of products" [data] = "product"></list-item>